:root {
  --font-family: "Roboto", sans-serif;
  --font-family-special: "Bebas Neue", sans-serif;

  --color-white: #ffffff;
  --color-green: #29a643;
  --color-gray-light: #f7f7f7;
  --color-gray: #cccccc;
  --color-black: #000000;
  --color-red: #d51820;
  --color-orange: #ffc255;
  --color-green-light: #b1ffc2;
  --color-yellow: #fff8d6;
  --color-blue: #0b0819;
  --color-blue-light: rgba(140, 140, 140, 0.1);
  --color-border: rgba(167, 167, 167, 0.2);
  --color-bfh-fonts: #444444;
}

* {
  font-family: var(--font-family);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: var(--color-white);
}

.signup__button {
  font-size: 24px !important;
  width: 290px;
  letter-spacing: 1px;
  font-family: var(--font-family-special) !important;
  background-color: var(--color-green) !important;
}

.hero__title {
  width: 260px;
}

.hero__description {
  width: 245px;
  font-size: 14px;
}

.hero__tnc {
  width: 244px;
  font-size: 12px;
  text-align: center;
}

.cryptocard {
  width: 236px;
  height: 144px;
  padding: 5px 15px 10px 15px;
  background: var(--color-blue-light);
  mix-blend-mode: normal;
  border: 0.871376px solid var(--color-border);
  border-radius: 13.0706px;
  margin: 0 10px;
}

.cryptocard__logo {
  height: 35px;
  width: 35px;
}

.cryptocard_title {
  font-weight: 500;
  font-size: 12px;
  text-shadow: 0px 0px 60.125px var(--color-orange);
  text-transform: uppercase;
  margin-bottom: 0;
}

.cryptocard__divider {
  height: 1px;
  width: 100%;
  background: var(--color-white);
  opacity: 0.15;
}

.cryptocard__price {
  font-weight: 700;
  font-size: 17.4275px;
  text-shadow: 0px 0px 60.125px var(--color-orange);
  margin-bottom: 0;
}

.cryptocard__badge {
  height: 15px;
  background: var(--color-yellow);
  border-radius: 3.48551px;
  text-align: center;
  align-content: center;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
}

.cryptocard__badgetext {
  font-weight: 500;
  font-size: 8.5px;
  color: var(--color-black);
  text-transform: uppercase;
  text-shadow: 0px 0px 65.8195px var(--color-orange);
}

.cryptocard__uparrow {
  height: 10px;
  font-size: 8px;
  color: var(--color-green-light);
  text-shadow: 0px 0px 60.125px var(--color-orange);
}

.cryptocard__percentage {
  height: 16px;
  font-size: 12px;
  color: var(--color-green-light);
  text-shadow: 0px 0px 60.125px var(--color-orange);
}

.service__titlecontainer {
  width: 166px;
  text-align: center;
}

.service__titletext {
  font-weight: 300;
  font-size: 32px;
  margin-bottom: 0;
}

.service__titletext--bold {
  font-weight: 700;
}

.service__titledivider {
  width: 70px;
  height: 0px;
  border: 2px solid var(--color-green);
}

.service__description {
  width: 280px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

.service_carditem--first,
.service_carditem--second,
.service_carditem--rest {
  width: 280px;
  height: 235px;
  background: var(--color-blue);
  backdrop-filter: blur(45px);
  border-radius: 10px;
}

.service_cardtitle {
  width: 137px;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 0;
}

.service_carddivider {
  width: 50px;
  height: 0px;
  border: 2px solid var(--color-green);
}

.service_carddescription,
.service_carddescription--special {
  width: 190px;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 0;
}

.service_cardimage--position,
.service_cardimage--positionfast {
  position: absolute;
  right: 5%;
  top: 10%;
}

.service_cardimage--fast {
  width: 26.83px;
  height: 56.91px;
}

.service_cardimage--pricing {
  width: 59.89px;
  height: 58.57px;
}

.service_cardimage--tech {
  width: 56.82px;
  height: 58.14px;
}

.service_cardimage--doller {
  width: 38.21px;
  height: 58.97px;
}

.register_title {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 25px;
}

.register_description {
  width: 260px;
  line-height: 21px;
}

.register__description--event {
  font-size: 15px;
  text-transform: uppercase;
  margin-bottom: 0;
}

.register__event--cell {
  width: 260px;
  border-bottom: 1px solid var(--color-white);
}

.register__event--cell:last-of-type {
  border-bottom: none;
}

.register__formlabel--text {
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 5px;
}

.register__forminput--text {
  width: 260px;
  height: 40px;
  background: var(--color-gray-light);
  border: 1px solid #a9a9a9;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  position: relative;
  padding-left: 20px;
}

input[type="radio"] + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 3px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #959595;
}

input {
  color: var(--color-black);
  padding: 0 10px;
  font-size: 14px;
}

.register__formlabel--radio {
  font-size: 10px;
  color: #959595;
}

.valid {
  color: var(--color-green);
}

.invalid {
  color: var(--color-red);
}

.register__formbutton {
  width: 260px;
  height: 40px;
  background: var(--color-gray);
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  color: var(--color-white);
  font-family: var(--font-family-special) !important;
  letter-spacing: 2px;
  margin: 25px 0;
}

.success__button {
  background: var(--color-green) !important;
}

.register__formdescription--signup {
  width: 260px;
  font-size: 14px;
  line-height: 111%;
  text-align: center;
}

.register__alert {
  width: 260px;
  background: #f3fef4;
  border: 1px solid #31b63b;
}

.register__alert--title {
  font-weight: 500;
  color: #3c763d;
}

.register__alert--icon {
  height: 24px;
  width: 24px;
}

.register__alert--description {
  font-size: 10px;
  line-height: 16px;
  color: #3c763d;
}

.bfh__titledivider {
  width: 40px;
  height: 0px;
  border: 4px solid var(--color-red);
}

.bfh__title {
  font-weight: 900;
  font-size: 35px;
  line-height: 48px;
  letter-spacing: -0.02em;
}

.bfh__title > div {
  color: var(--color-bfh-fonts);
}

.bfh__title > div > span {
  color: var(--color-red);
}

.bfh__description {
  width: 279px;
  font-size: 14px;
  line-height: 21px;
  color: var(--color-bfh-fonts);
  text-align: center;
}

.bfh__description > strong {
  color: var(--color-bfh-fonts);
}

.bfh__card--image {
  width: 46px;
  height: 53px;
}

.bfh__card--title {
  font-weight: 700;
  font-size: 20px;
  color: var(--color-bfh-fonts);
}

.bfh__card--description {
  width: 218px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: var(--color-bfh-fonts);
}

.tpfooter__logo {
  width: 182px;
  height: 60px;
}

.tpfooter__links {
  font-size: 12px;
  line-height: 17px;
  color: #888888;
  text-decoration: none;
}

.tpfooter__links--divider {
  color: #888888;
}

.tpfooter {
  height: 225px;
}

@media (min-width: 768px) {
  .hero__title {
    width: 600px;
  }
  .hero__description {
    width: 400px;
    line-height: 21px;
  }
  .hero__tnc {
    width: 330px;
  }
  .cryptocard {
    width: 210px;
    height: 128px;
  }
  .service_carditem--first,
  .service_carditem--second,
  .service_carditem--rest {
    width: 530px;
    height: 230px;
  }
  .service_cardtitle {
    width: 175px;
    font-size: 25px;
    line-height: 30px;
  }
  .service__description {
    width: 642px;
    font-size: 14px;
    line-height: 22px;
  }
  .service__titlecontainer {
    width: 100%;
  }
  .service_cardimage--fast {
    width: 41.46px;
    height: 87.95px;
  }

  .service_cardimage--pricing {
    width: 92.56px;
    height: 90.52px;
  }

  .service_cardimage--tech {
    width: 87.81px;
    height: 89.86px;
  }

  .service_cardimage--doller {
    width: 59.05px;
    height: 91.14px;
  }
  .service_carddescription {
    width: 305px;
  }
  .register_title {
    font-size: 34px;
  }
  .register_description {
    width: 100%;
  }
  .register__description--event {
    font-size: 15px;
    text-transform: uppercase;
    margin-bottom: 0;
  }
  .register__event--cell {
    border: 1px solid var(--color-white) !important;
  }
  .register__event--cell:first-child {
    width: 230px;
    border-left: none !important;
    border-right: none !important;
  }
  .register__event--cell:nth-child(2) {
    width: 180px;
  }
  .register__event--cell:nth-child(3) {
    border-left: none !important;
    border-right: none !important;
  }
  .register__forminput--text {
    width: 454px;
  }
  .register__formbutton {
    width: 454px;
  }
  .register__formdescription--signup {
    width: 100%;
  }
  .register__alert {
    width: 454px;
  }
  .register__alert--title {
    font-size: 20px;
  }

  .register__alert--icon {
    height: 36px;
    width: 36px;
  }

  .register__alert--description {
    font-size: 12px;
  }

  .bfh__title {
    font-size: 41px;
    line-height: 48px;
    letter-spacing: -0.02em;
  }

  .bfh__description {
    width: 100%;
    font-size: 16px;
  }
  .bfh__card--description {
    text-align: start;
  }
  .tpfooter {
    height: 150px;
  }
}

@media (min-width: 1200px) {
  .hero__title {
    width: 730px;
    font-size: 35px;
  }
  .hero__description {
    width: 463px;
    font-size: 16px;
  }
  .hero__tnc {
    width: 330px;
  }
  .signup__button {
    width: 345px;
  }
  .cryptocard {
    width: 205px;
    height: 150px;
  }
  .service_carditem--first {
    width: 320px;
    height: 570px;
  }
  .service_carditem--second {
    width: 676px;
    height: 265px;
  }
  .service_carditem--rest {
    width: 328px;
    height: 285px;
  }
  .service_carddescription,
  .service_carddescription--special {
    font-size: 16px;
    width: 225px;
    line-height: 22px;
  }
  .service_carddescription--special {
    width: 405px;
  }
  .service__description {
    width: 635px;
  }
  .service__titletext {
    font-size: 35px;
  }
  .service_cardimage--fast {
    width: 100px;
    height: 212.12px;
  }

  .service_cardimage--pricing {
    width: 98px;
    height: 95.85px;
  }

  .service_cardimage--tech {
    width: 72.32px;
    height: 74px;
  }

  .service_cardimage--doller {
    width: 48.63px;
    height: 75.06px;
  }
  .service_cardimage--positionfast {
    position: absolute;
    left: 12%;
    top: 58%;
  }
  .register__forminput--text {
    width: 403px;
  }
  .register__formbutton {
    width: 345px;
  }
  .register__alert {
    width: 827px;
  }
  .register__alert--title {
    font-size: 24px;
  }

  .register__alert--icon {
    height: 52px;
    width: 52px;
  }

  .register__alert--description {
    font-size: 14px;
  }
  .bfh__titledivider {
    width: 72px;
  }

  .bfh__title {
    font-size: 80px;
    line-height: 90px;
  }

  .bfh__description {
    width: 209px;
    font-size: 17px;
    line-height: 24px;
    text-align: start;
  }

  .bfh__card--image {
    width: 49px;
    height: 56px;
  }

  .bfh__card--description {
    width: 235px;
    line-height: 20px;
  }
  .tpfooter {
    height: 130px;
  }
  .sponfooter__sponimg:first-child {
    width: 136px;
    height: 25.03px;
  }
  .sponfooter__sponimg:nth-child(2) {
    width: 131px;
    height: 36.58px;
  }
  .sponfooter__sponimg:nth-child(3) {
    width: 110px;
    height: 38.5px;
  }
  .sponfooter__sponimg:nth-child(4) {
    width: 195px;
    height: 37.54px;
  }
  .sponfooter__followus {
    width: 68px;
    font-weight: 500;
    font-size: 12px;
    color: #888888;
  }
  .tpfooter__divider {
    width: 100%;
    height: 1px;
    background: var(--color-bfh-fonts);
  }
  .sponfooter {
    height: 130px;
  }
}
